@page "/"
@inject XIVAPIService XIVAPI
<h1>Linkshell Member Activity</h1>

Please paste a linkshell or CWLS link in the field below, and then click the button to determine member activity.

<input type="text" @bind-value="_linkshellUri" />
<button @onclick="ProcessLinkshell">Process</button>
<p id="linkshell-search-failed" style="display:@_errorMessageDisplay">@_errorMessage</p>
<!--<CharacterCardGrid Characters="@_results"></CharacterCardGrid>-->

@code {
    private string _linkshellUri;
    private string _errorMessageDisplay = "none";
    private string _errorMessage = string.Empty;

    private IEnumerable<CharacterSearchResult> _results;

    private async Task ProcessLinkshell()
    {
        string linkshellId = Util.GetEndOfUriPath(_linkshellUri);

        try
        {
            new Uri(_linkshellUri);
        }
        catch (UriFormatException)
        {
            _errorMessage = "Failed to resolve URI to a linkshell.";
            _errorMessageDisplay = "inline";
            return;
        }

        if (Regex.Match(linkshellId, @"[^\d]").Success) // CWLS
        {
            _results = await XIVAPI.GetCWLSMembers(linkshellId);
        }
        else // Linkshell
        {
            _results = await XIVAPI.GetLinkshellMembers(linkshellId);
        }

        if (!_results.Any())
        {
            _errorMessage = "Failed to resolve URI to a linkshell.";
            _errorMessageDisplay = "inline";
            return;
        }

        _errorMessageDisplay = "none";
    }
}