@page "/"

<h1>Linkshell Member Activity</h1>

Please paste a linkshell or CWLS link in the field below, and then click the button to determine member activity.

<input type="text" @bind-value="linkshellUrl"/>
<button @onclick="ProcessLinkshell">Process</button>

@code {
    private string linkshellUrl;

    private void ProcessLinkshell()
    {
        if (Regex.Match(linkshellUrl, @"[^\d]").Success) // CWLS
        {
        }
        else // Linkshell
        {
        }
    }
}